@{
    Layout = "_Layout1";
}
@using Data;
@model IEnumerable<Day>;
<h1>Doctor Appointments</h1>


<table>
    <thead>
        <tr>

            <th>Day</th>
            <th>From</th>
            <th>To</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var eachModel in Model)
        {
            <tr>

                <td>@eachModel.WeekDay</td>

                @foreach(Time time in eachModel.Times)
                {
                    <td>@time.From</td>
                    <td>@time.To</td>
                
              
                <th>             
                        <form asp-controller="Patient" asp-action="Book" method="post">
                    <input type="hidden" name="timeId" value=@time.Id />
                    <input type="text"  />
                            <label name="DiscountType"></label>
                            <select name="DiscountType" asp-items="Html.GetEnumSelectList<DiscountType>()">
                            </select>
@*                     <input type="hidden" name="doctorAppointment" value=@eachModel.DoctorAppointment />
                    <input type="hidden" name="Time" value=@time /> *@
                    <input type="hidden" name="request" value=@Request.Pending />




                    <button type="submit">Book</button>

                </form>

                </th>
                }
            </tr>

        }
    </tbody>
</table>