@{
    Layout = "_Layout1";
}
@model Microsoft.AspNetCore.Identity.IdentityUser

<h1>Patient Home Page</h1>
<a asp-controller="Patient" asp-action="GetAllDoctors"> Search On Doctors</a><br />
<a asp-controller="Patient" asp-action="GetAllBooking"> Get All His/Her Bookings</a>