@using Data
@{
    Layout = "_Layout1";

}
@model vezeeta.Net.Models.ViewModel.Admin.CouponViewModel;


<h1>Add Coupon Page </h1>
<form asp-controller="Admin" asp-action="AddCoupon" method="post">


 
    <div>
        <label asp-for="CouponCode"></label>
        <input asp-for="CouponCode" />
    </div><br />

    <div>
        <label asp-for="NumOfRequests"></label>
        <input asp-for="NumOfRequests" />
    </div><br />

    <div>
        <label asp-for="Number"></label>
        <input asp-for="Number" />
    </div><br />


    <div>
        <label asp-for="DiscountType"></label>
        <select asp-for="DiscountType" asp-items="Html.GetEnumSelectList<DiscountType>()">
          
        </select>

        

    <br />
    <br>

    <button type="submit">Add</button>



</form>