
@{
    Layout = "_Layout1";
}

<h1>Admin Home Page</h1>
@{
     if(User.Identity.IsAuthenticated)
        {
        <p> Hello ,@User.Identity.Name </p>
            <br />
            <a asp-asp-controller="admin" asp-action="logout">Logout</a><br />
            <br />
        <a asp-controller="Admin" asp-action="Dashboard">Dashboard methods</a><br />



            <a asp-controller="Admin" asp-action="GetAllDoctors">Get All Doctors</a>
            <br />
            <a asp-controller="Admin" asp-action="">Get a Doctor By Id</a>
            <br />

            <a asp-controller="Admin" asp-action="AddDoctor">Add a Doctor</a>
            <br />

            <hr />


            <a asp-controller="Admin" asp-action="GetAllPatients">Get All Patients</a>
            <br />
            <a asp-controller="Admin" asp-action="">Get a Patient By Id</a>
            <br />

            <hr />

        <a asp-controller="Admin" asp-action="settings">Settings</a>
            <br />
           

        }
        

}
