
@{
    Layout = "_Layout1";


}
<h1>Admin Settings</h1>
<a asp-controller="Admin" asp-action="AddCoupon">Add Coupon </a><br>
<a asp-controller="Admin" asp-action="" >Edit Coupon </a><br>
<a asp-controller="Admin" asp-action="" >Delete Coupon </a><br>
<a asp-controller="Admin" asp-action="" >Deactivate Coupon </a><br>