@using Data
@{
    Layout = "_Layout1";

}
@model vezeeta.Net.Models.ViewModel.Doctor.AppointmentViewModel;

<h1>AddAppointment Page </h1>


<form asp-controller="Doctor" asp-action="AddAppointment" method="post">

    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" />
    </div><br />
    <button type="submit">Save</button>
</form>
<br />


<form asp-controller="Doctor" asp-action="AddDayTime" method="post">
    <div>
        <label asp-for="WeekDay"></label>
        <select asp-for="WeekDay" asp-items="Html.GetEnumSelectList<Days>()">
            <option value="">Select a day</option>
        </select>

        <label asp-for="From"></label>
        <input type="time" asp-for="From" name="From">
        <label asp-for="To"></label>
        <input type="time" asp-for="To" name="To">

        <button type="submit">Add</button>
        <button type="submit">Edit</button>
        <button type="submit">Delete</button>
    </div>
</form>
