@{
    Layout = "_Layout1";
}
@model Microsoft.AspNetCore.Identity.IdentityUser


<h1>Doctor Home Page</h1>
<a asp-controller="doctor" asp-action="settings">Settings</a><br />


<a asp-controller="doctor" asp-action="">Get All Bookings</a><br />
