@{
    Layout = "_Layout1";

}
<h1>Doctor Settings Page</h1>
<a asp-controller="Doctor" asp-action="AddAppointment">Add Appointment </a><br>
<a asp-controller="Doctor" asp-action="" >Edit Appointment </a><br>
<a asp-controller="Doctor" asp-action="" >Delete Appointment </a><br>
